header.header
    .header__column
        i.fab.fa-youtube
    .header_column
        ul
            li
                a(href="#") Join
            li
                a(href="#") Log In                